// Colors
$primary-100: #FF6600;
$primary-200: #ff983f;
$primary-300: #ffffa1;

$accent-100: #F5F5F5;
$accent-200: #929292;

$text-100: #FFFFFF;
$text-200: #e0e0e0;

$bg-100: #1D1F21;
$bg-200: #2c2e30;
$bg-300: #444648;

// Styles
.task-list {
  h2 {
    color: $text-100;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .completed {
        text-decoration: line-through;
      }

      button {
        margin-left: 8px;
      }
    }
  }

  form {
    input[type="text"] {
      background-color: $bg-200;
      color: $text-100;
      border: none;
      padding: 8px;
      border-radius: 4px;
      margin-bottom: 8px;
    }

    button[type="submit"] {
      background-color: $primary-100;
      color: $text-100;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .edit-form {
    input[type="text"] {
      background-color: $bg-300;
      color: $text-100;
      border: none;
      padding: 8px;
      border-radius: 4px;
      margin-bottom: 8px;
    }

    button {
      background-color: $primary-200;
      color: $text-100;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;

      &.cancel {
        background-color: $accent-200;
      }
    }
  }
}

body {
  background-color: $bg-100;
  color: $text-200;
}
